<div class="min-h-screen">
  <app-header></app-header>

  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <div class="m-6 mt-0 bg-gray-50 rounded-lg p-6">
      <div class="text-center py-10" id="buscar">
        <h2 class="text-2xl font-bold">
          Busque o Seu
          <span class="underline text-[#378c77]">Plano de Saúde</span>
        </h2>
        <div class="mt-6 flex flex-wrap justify-center gap-4">
          <div class="relative w-full sm:w-1/3">
            <input
              type="text"
              placeholder="Ex.: Unimed"
              class="border border-gray-300 rounded-lg pl-10 py-2 w-full"
              formControlName="nomePlano"
            />
            <span
              class="absolute left-3 top-[55%] transform -translate-y-1/2 text-gray-500"
            >
              <mat-icon class="text-gray-400">search</mat-icon>
            </span>
          </div>
          <button
            class="border border-gray-300 bg-white text-black px-4 py-2 rounded-lg flex justify-center items-center gap-2"
            (click)="toggleFilters($event)"
          >
            <mat-icon class="text-gray-500">filter_list</mat-icon>
            Filtros
          </button>
          <button class="text-white px-6 py-2 rounded-lg bg-[#378c77]">
            Buscar
          </button>
        </div>
      </div>

      <div
        *ngIf="showFilters"
        class="flex flex-wrap justify-center gap-4 bg-white py-4 px-6 shadow rounded-lg"
      >
        <select
          formControlName="status"
          class="border border-gray-300 rounded-lg px-2 py-2"
        >
          <option value="todos">Todos</option>
          <option value="ativos">Ativos</option>
          <option value="fechados">Fechados</option>
        </select>

        <input
          type="text"
          placeholder="CNPJ"
          formControlName="cnpj"
          class="border border-gray-300 rounded-lg px-2 py-2"
        />

        <button class="text-[#378c77]" (click)="limparFiltros($event)">
          Limpar
        </button>
      </div>
    </div>
  </form>
  <div class="flex align-center p-6">
    <h1 class="text-1xl font-bold">{{ totalElementos }} Planos</h1>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <app-plan-card
      *ngFor="let plano of planos"
      [plano]="plano"
      class="flex flex-col h-full"
    ></app-plan-card>
  </div>
</div>

<!-- <a href="#buscar">
  <button
    class="fixed bottom-6 right-6 bg-black text-white w-12 h-12 rounded-full shadow-lg flex items-center justify-center"
  >
    <mat-icon class="text-with">arrow_upward</mat-icon>
  </button>
</a> -->